<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "errores") %> no se pudo registrar el  usuario:</h2>

      <ul>
        <li>El nombre no puede ser vacío.</li>
        <li>El email no puede ser vacío.</li>
        <li>El email debe tener un formato válido.</li>
        <li>La contraseña no puede ser vacía y debe tener al menos 6 caracteres.</li>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password%>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Vuelve a escribir el Password" %> <br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Registrarse", class: "btn btn-primary"%>
  </div>
<% end %>
