<h1>
	<%=@titulo%>
</h1>
<h2>Envíanos tus comentarios y sugerencias.</h2>
<h3>Si quieres ser un administrador, escríbelo en el comentario</h3>

	
	<%= form_tag "crear_contacto", :multipart=>true, :method=>"post"  do %>

		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<div class="field">
			<%= label_tag "Nombre:" %><br>
			<%= text_field_tag "nombre", nil, :size=>50, :placeholder=>"Nombre",:maxlength => 60,:required=> true%>
		</div>
		<div class="field">
			<%= label_tag "Comentarios:" %><br>
			<%= text_area_tag "comentarios", nil, cols: 60, rows: 10, :required=> true%>	  
		</div>
		<div class="field">
			<%= label_tag "Correo electrónico:" %><br>	
			<%= email_field_tag :email, nil, :size=>50, :maxlength =>50, :placeholder => "Email", :require=>true%>
		</div>
		<br>
		<div class="actions">
			<%= submit_tag "Enviar comentarios", :confirm=>true, :value => "Enviar comentarios",class: "btn btn-primary" %>
		</div>
	<%end %>